.primary-color {
    color: #022e6b;
}

.primary-background {
    background-color: #022e6b;
}

.secondary-color {
    color: #e6a71e;
}

.secondary-background {
    background-color: #e6a71e;
}
.light-background {
    background-color: #f8f8f8;
}
.danger-background {
    background-color: #b02525;
}